{% include "header.html" %}

<ul class="breadcrumb">
    <li><a href="{{ template.api_root }}?f=html">Home</a></li>
    <li><a href="{{ template.api_root }}/collections?f=html">Collections</a></li>
    <li><a href="{{ template.api_root }}/collections/{{ response.collection.id }}?f=html">{{ response.collection.title }}</a></li>
    <li><a href="{{ template.api_root }}/collections/{{ response.collection.id }}/items?f=html">items</a></li>
    <li>{{ response.id }}</li>
    <li class="json-link"><a target="_blank" href="{{ template.api_root }}/collections?f=json">JSON</a></li>
</ul>

<h1>{{ template.title }} - Collection Item: {{ response.collection.title }}</h1>

<div class="grid-container halves">
    <div>
        <h2>Properties</h2>
        <ul class="u-align-left">
            <li><strong>ID:</strong> {{ response.id }}</li>
            {% for key, value in response.properties %}
            <li><strong>{{ key }}:</strong> {{ value }}</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <div id="map" class="map" style="width:100%; height:400px;"></div>
    </div>
</div>

<script>
    const geojson = {{ response }};
    addGeoJsonToMap(geojson)
</script>

{% include "footer.html" %}
