{% include "header.html" %}

<h1>{{ template.title }} - Collection: {{ response.title }}</h1>

<div class="row">
    <div class="six columns">

        <p>{{ response.description }}</p>
        {% if existsIn(response, "keywords") and length(response.keywords) > 0 %}
        <div id="keywords">
            <p>
                {% for keyword in response.keywords %}
                <span class="badge badge-secondary">{{ keyword }}</span>
                {% endfor %}
            </p>
        </div>
        {% endif %}

        <h2>Links</h2>
        <ul>
            {% for link in response.links %}
            <li> <a href="{{ link.href }}">{{ link.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="six columns">
        <div id="map" class="map" style="width:100%; height:400px;"></div>
    </div>
</div>

<script>
    const bbox = {{ response.extent.spatial.bbox }};
    addCollectionExtentToMap(bbox);
</script>

{% include "footer.html" %}
