{% include "header.html" %}

<ul class="breadcrumb">
    <li><a href="{{ template.api_root }}?f=html">Home</a></li>
    <li>Conformance</li>
    <li class="json-link"><a target="_blank" href="{{ template.api_root }}/conformance?f=json">JSON</a></li>
</ul>

<h1>{{ template.title }} - Conformance</h1>

<p>This API implements the conformance classes from standards and community specifications that are listed below.</p>

<h2>Links</h2>
<ul>
{% for url in response.conformsTo %}
  <li> <a target="_blank" href="{{ url }}">{{ url }}</a></li>
{% endfor %}
</ul>

{% include "footer.html" %}
